<label for:scoped="first-name">First Name</label>
<input id:scoped="first-name" name="firstName" value=input.firstName>

<label for:scoped="last-name">Last Name</label>
<input id:scoped="last-name" name="lastName" value=input.lastName>